<main class="container">
  <div id="map" class="map"></div>
  <div id="info" class="info"></div>
</main>

<% provide :footer_tags do %>
<%= javascript_tag defer: 'defer' do -%>
const mapStyles = [
      { elementType: 'geometry', stylers: [{color: '#ced4d8'}]},
      {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'},{visibility: 'off'}]},
      {elementType: 'labels.text.fill', stylers: [{color: '#bac1c7'},{visibility: 'off'}]},
      {
        featureType: 'administrative.locality',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.park',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.attraction',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.business',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.government',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.medical',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.park',
        elementType: 'labels.text.fill',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.school',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.sports_complex',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'poi.place_of_worship',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'road',
        elementType: 'geometry',
        stylers: [{color: '#ffffff'}]
      },
      {
        featureType: 'road',
        elementType: 'geometry.stroke',
        stylers: [{color: '#bfc5ca'}]
      },
      {
        featureType: 'road',
        elementType: 'labels.text.fill',
        stylers: [{color: '#9ca5b3'},{visibility: 'off'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'geometry',
        stylers: [{color: '#ffffff'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'geometry.stroke',
        stylers: [{color: '#bfc5ca'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'labels.text.fill',
        stylers: [{color: '#bac1c7'},{visibility: 'off'}]
      },
      {
        featureType: 'transit',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'transit.station',
        elementType: 'all',
        stylers: [{visibility: 'off'}]
      },
      {
        featureType: 'water',
        elementType: 'geometry',
        stylers: [{color: '#a6cbe3'}]
      },
      {
        featureType: 'water',
        elementType: 'labels.text.fill',
        stylers: [{color: '#5b7e94'},{visibility: 'off'}]
      },
      {
        featureType: 'water',
        elementType: 'labels.text.stroke',
        stylers: [{color: '#5b7e94'},{visibility: 'off'}]
      }
  ]

let driverPath = []

const createMap = ({ lat, lng }) => {
  return new google.maps.Map(document.getElementById('map'), {
    center: { lat, lng },
    zoom: 15,
    styles: mapStyles
  });
};

const createMarker = ({ map, position, icon }) => {
  return new google.maps.Marker({ map, position, icon });
};

// New function to track user's location.
const trackLocation = ({ onSuccess, onError = () => { } }) => {
  if ('geolocation' in navigator === false) {
    return onError(new Error('Geolocation is not supported by your browser.'));
  }

  // Use watchPosition instead.
  return navigator.geolocation.watchPosition(onSuccess, onError,{
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  });
};


const getPositionErrorMessage = code => {
  switch (code) {
    case 1:
      return 'Permission denied.';
    case 2:
      return 'Position unavailable.';
    case 3:
      return 'Timeout reached.';
    default:
      return null;
  }
}

function init() {

  let custPosition = { lat: 30.317598, lng: -81.4557006 }
  let driverPosition = { lat: 31.926385, lng: -81.334488 }
  let storePosition = { lat: 31.926260, lng: -81.334744 }

  driverPath.push(driverPosition)
  console.log(driverPath)

  // here is standart collection of deliveryCoordinates
  // http://kml4earth.appspot.com/icons.html
  const map = createMap(custPosition);
  let custMarker = createMarker({ map, position: custPosition, icon: 'https://maps.google.com/mapfiles/kml/pal3/icon23.png' });
  let driverMarker = createMarker({ map, position: driverPosition, icon: 'http://maps.google.com/mapfiles/kml/pal4/icon54.png' });
  let storeMarker = createMarker({ map, position: storePosition, icon: 'http://maps.google.com/mapfiles/kml/pal4/icon21.png' });

  // Get user's location
  trackLocation({
    onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
      driverMarker.setPosition({ lat, lng });
      map.panTo({ lat, lng });
      driverPath.push({ lat, lng })
    },
    onError: err =>
      alert(`Error: ${getPositionErrorMessage(err.code) || err.message}`)
  });
}
<% end -%>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAH69U6syhrmeoCk5wLNsa5_V6-c2Ah3Ms&callback=init', :async => true, :defer => true %>
<% end %>
