
<% content_for :page_scripts do %>
  <script type="text/javascript" src="/javascript/script.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH69U6syhrmeoCk5wLNsa5_V6-c2Ah3Ms&callback=init"></script>
<% end %>

<main class="container">
  <div id="map" class="map"></div>
  <div id="info" class="info"></div>
</main>
